<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FormServlet</servlet-name>
  	<display-name>FormServlet</display-name>
  	<description></description>
  	<servlet-class>com.iftest.day3.FormServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JSONServlet</servlet-name>
  	<display-name>JSONServlet</display-name>
  	<description></description>
  	<servlet-class>com.iftest.day4.JSONServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>XMLServler</servlet-name>
  	<display-name>XMLServler</display-name>
  	<description></description>
  	<servlet-class>com.iftest.day5.XMLServler</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FormServlet</servlet-name>
  	<url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JSONServlet</servlet-name>
  	<url-pattern>/JSONServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>XMLServler</servlet-name>
  	<url-pattern>/XMLServler</url-pattern>
  </servlet-mapping>
</web-app>
